html {
height: 100%;
width: 100%;
}

p {
    font-size: 18px;
    color: #000000;
    margin-left: 40px;
}

.text_center {
    text-align: center;
    margin-top: 20px;

}

span {
    font-weight: bold;
}

.upper_block {
    width: 250px;
    float: left;
    margin: 10px 80px 0 0;
}

.upper_pic{
    width: 290px;
    height: 290px;
    margin-left: 40px;
}

.lower_block {
    width: 250px;
    float: left;
    margin: 10px -40px 0 0;
}

.lower_pic{
    width: 200px;
    height: 270px;
    margin-left: 40px;

}

.fullwrap {
  width: 700px;
  min-height: 30px; 
  background: #dbdbdb;
  padding-top: 70px;
  padding-right: 70px;
  padding-left: 70px;
}
}
.header {
    width: 100%;
    height: 240px;
    background: #808080;
}

.header_img{
    width: 100%;
    min-height: 30px; 
}
.footer {
    width: 640px;
}
.wrap {
    width: 100%;
    margin: 3px 0;
    background: #FFFFFF;
}

.clearboth {
    clear:both;
}

.i {
    font-style: italic;
}

button {
    width: 640px;
    height: 40px;
    background: #B22222;
    border-radius: 10px;
    border:  none;
    color: white;
    margin: 20px 30px 20px;
}

.upper_block button {
    width: 290px;
    height:40px;
    background: #B22222;
    border-radius: 10px;
    margin: 20px 40px 20px;
}

.lower_block button {
    width: 200px;
    height:40px;
    background: #B22222;
    border-radius: 10px;
    margin: 20px 40px 20px;
}

.white_text_center{
    text-align: center;
    margin-top: 16px;
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 40px;
}
